*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.inicio h3{
    padding: 100px 0 10px 0;
    text-align: center;
    color: green;
    font-family: 'Rock Salt', 'cursive';
}
.inicio h1{
    color: rgb(41, 41, 41);
    font-size: 4em;
    margin-top: -4%;
    padding: 30px;
    text-align: center;
}
.inicio a{
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 18px 30px;
    border-radius: 5px;
    background-color: green;
    border: none;
    
}
.inicio p{
    color:green
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: white;
}
main {
    text-align: center;
}

.cover-container h1,
.text-container h1 {
    padding: 0 20px;
    font-size: 1.75em;
    text-transform: uppercase;
    margin: 150px auto 30px;
}

.cover-container p,
.text-container p {
    padding-left: 20px;
    font-size: 1.25em;
    width: 90%;
    text-align: justify;
}

.cover-container figure img,
.text-container figure img{
    display: none;

}
ul li{
    text-align: left;
}

@media screen and (min-width: 992px) {

    .cover-container figure img,
    .text-container figure img {
        width: 35%;
        right: 2%;
        visibility: visible;
        position: absolute;
        display: block;
        float: right;
        max-height: 500px;
    }

    .text-container p {
        width: 30%
    }
    .cover-container,
    .text-container {
        margin-top: 10%;
        padding: 30px;
        background: #e7e7e7;
    }

    .cover-container p,
    .text-container p {

        padding: 50px;
        font-size: 1.75em;
        width: 50%;
    }

    .cover-container h1 {
        padding: 20px;
        font-size: 2em;
    }
    .inicio h3{
        padding: 150px 0 50px 30px;
        text-align: left;
        color: green;
        font-family: 'Rock Salt', 'cursive';
    }
    .inicio h1{
        color: rgb(41, 41, 41);
        font-size: 4em;
        margin-top: -4%;
        padding: 20px;
        text-align: justify;
    }
    .inicio a{
        color: #fff;
        cursor: pointer;
        font-size: 1em;
        margin-left: 2%;
        float: left;
        padding: 18px 30px;
        border-radius: 5px;
        background-color: green;
        border: none;
        
    }
    .inicio p{
        color:green
    }
}